@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './colors.scss';
@import './reset.scss';

h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
}

#app {
    max-width: 1440px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-right {
    justify-content: right;
}

.flex-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.form {
    display: flex;
    flex-wrap: wrap;

    &-wrapper {
        position: absolute;
        max-width: 500px;
        padding: 16px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        box-shadow: 0px 4px 20px 0px #00000014;
    }
    &-group {
        display: flex;
        margin-top: 16px;
        flex-wrap: wrap;
        width: 100%;
        &__title {
            
        }
        &__input {
            margin-top: 9px;
            width: 100%;
            padding: 16px;
            border-radius: 10px;
            background-color: var(--gray-light)
        }
    }
    &__button {
        width: 100%;
        margin-top: 16px;
        padding: 13px;
        border-radius: 10px;
        background-color: var(--violet);
        color: var(--white);
    }
}

@import './ui-kit.scss';
@import './components.scss';
@import './modules.scss';