@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './colors.scss';
@import './reset.scss';
@import './ui-kit.scss';
@import './components.scss';
@import './modules.scss';

h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
}

p:nth-of-type(1n+2) {
    margin-top: 1.2em;
}

#app {
    max-width: 1440px;
    margin: 0 auto;
}

.m-t-24 {
    margin-top: 24px;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.justify-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.avatar {
    border-radius: 50%;
}

.massage-box {
    max-width: 505px;
    margin: 0 auto;
    padding: 20px 0;
    margin-top: 25px;
    box-shadow: 0 0 10px var(--gray);
    color: var(--black);
    font-size: 34px;
    text-align: center;
}

.form {
    display: flex;
    flex-wrap: wrap;

    &-wrapper {
        position: absolute;
        max-width: 500px;
        width: 100%;
        padding: 16px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        box-shadow: 0px 4px 20px 0px #00000014;
    }
    &-group {
        display: flex;
        margin-top: 16px;
        flex-wrap: wrap;
        width: 100%;
        &__input {
            margin-top: 9px;
            width: 100%;
            padding: 16px;
            border-radius: 10px;
            background-color: var(--gray-light);

            &--invalid {
                border: 1px solid var(--red);
                outline-color: var(--red);
            }
        }
    }
    &-footer {
        margin-top: 14px;
        padding-top: 8px;
        border-top: 1px solid var(--gray);
        text-align: center;
    }
    &__error {
        margin-top: 9px;
        color: var(--red);
    }
    &__button {
        width: 100%;
        margin-top: 16px;
        padding: 13px;
        border-radius: 10px;
        background-color: var(--violet);
        color: var(--white);
    }
}

.profile {
    &-header {
        padding-left: 188px;
        align-items: center;

        &__subtitle {
            margin-top: 16px;
            font-size: 32px;
            line-height: 37.5px;
        }

        &__bio {
            margin-left: 25px;
        }

        &__avatar {
            width: 187px;
            height: 187px;
        }
    }
    &-info {
        display: flex;
        padding: 49px 305px 49px 188px;
        &__contacts {
            margin-left: 109px;

            & svg {
                margin-right: 8px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .profile {
        &-header {
            padding-left: 128px;
            justify-content: center;
            &__subtitle {
                margin-top: 0;
                font-size: 20px;
            }
            &__avatar {
                order: 2;
            }
            &__bio {
                margin-left: 0;
                margin-bottom: 8px;
                text-align: center;
            }
        }
        &-info {
            padding: 32px 16px;
            &__contacts {
                margin-left: 8px;
            }
        }
    }
}

@media screen and (max-width: 426px) {
    h1 {
        font-size: 32px;
    }
    .massage-box {
        max-width: 285px;
    }
    .profile {
        &-header {
            padding-left: 44px;
            justify-content: center;
            &__subtitle {
                margin-top: 0;
                font-size: 20px;
            }
            &__avatar {
                order: 2;
            }
            &__bio {
                order: 1;
                margin-left: 0;
                margin-bottom: 8px;
                text-align: center;
            }
        }
        &-info {
            padding: 32px 16px;
            flex-direction: column;
            & div {
                order: 2;
            }
            &__contacts {
                margin-left: 0;
                margin-bottom: 20px;
                order: 1;
            }
        }
    }
}