
.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    padding: 64px 297px;

    background-color: var(--violet);
    color: var(--white);

    &__button {
        position: absolute;
        top: 32px;

        border-color: var(--white);
        color: var(--white);

        &--right {
            right: 80px;
        }
        &--left {
            left: 80px;
        }
    }
}

.card-list {
    display: grid;
    grid-template-columns: repeat(4, 305px);
    gap: 20px;

    &-wrapper {
        max-width: 1280px;
        margin: 49px auto 69px;
        text-align: center;
    }

    &__button {
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: 49px;
        padding: 9px 16px;
        color: var(--black);
        border: 1px solid var(--black);
        border-radius: 10px;

        & svg {
            margin-left: 9px;
            transform: rotate(-90deg);
        }
    }
}

@media screen and (max-width: 1025px) {
    .header {
        padding: 64px 125px;
    }
    .card-list {
        grid-template-columns: 305px 305px 305px;
    }
}

@media screen and (max-width: 970px) {
    .card-list {
        grid-template-columns: 305px 305px;
        justify-content: center;
    }
}

@media screen and (max-width: 426px) {
    .header {
        padding: 44px;
        padding-top: 64px;

        &__button {
            top: 24px;
            padding: 0;
            border: none;
        }

        &__button--right {
            right: 27px;
        }
        &__button--left {
            left: 27px;
        }
    }
    .card-list {
        grid-template-columns: 305px;
    }
}