* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    color: var(--black);
    text-decoration: none;
}

input {
    border: none;
    background: none;
}