.button {
    padding: 8px 16px;
    border: 1px solid var(--black);
    border-radius: 10px;
}

.like-button {
    padding: 8px;
    background-color: var(--gray-light);
    border-radius: 10px;
    line-height: 0;
}